

<!DOCTYPE html>
<html>
    <head>
        <title> Allison's blog</title>
    </head>
    <body>
        <header>
            <h1>Allison's New Blog, hot off the press!</h1>
            <h2>Get your fresh, hot, content right here!</h2>
            <h3>Content! Fresh and hot!</h3>
            <h4>Get it while it lasts!  Only four units left, and its in 17 peoples carts!</h4>
            <h5>High demand! Limited time offer!</h5>
            <h6>But Wait!  Theres More!</h6>
        </header>
        <main>
            <br>
            <p>My wife told me to quit acting like a flamingo,</p>
            <p>So, I had to put my foot down.</p>
            <br>
            <br>

{% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a> </h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}


            <br>
            <br>
            <h3>making the perfect almond butter and jam sandwich</h3>
            <h4>a recipe</h4>
            
            
            <p>first gather your materials:   a plate, some cutlery, toaster, bread, jam, and almond butter. 
                you'll want the type of fancy almond butter that separates and requires mixing.  you'll want this because its natural, organic, expensive, and good for you. 
            </p>
            
            <p>a sandwich should be pretty quick and easy.
            pop that bread into the toaster.
            </p>
            
            <p>now, get to mixing up that separated almond butter
            you'll soon find that it's nearly impossible to reconstitute. 
            the chunky variety even more-so.  
            when you decide you're not getting anywhere,
            you'll have to move the whole damned concoction into a bowl. 
            this, on its own, is no easy feat. power tools optional. good luck.  
            next, you'll need to chisel at the block of cemented almond quickrete with
            the edge of your sharpest spoon, while cursing and sweating, 
            for what feels like an eternity. 
            do not stop until your hand is cramped into oblivion and resembels 
            a twisted cartoonish version of a badly mangled and throbbing likeness of a hand. 
            wonderful.  
            </p>
            
            <p>retrieve the toast from the toaster that you share with your roommates.
            hopefully you'll find it perfectly toasted, instead of charred and black
            because one of your roommates likes his toast "extra toasty".
            </p>
            
            <p>in either case, this is your bread now.
            apply that almond butter that you worked so hard for.
            apply it liberally.
            you know it'll separate again, and immediately,
            if you dare to take your eyes off of it for even a second.
            </p>
            
            <p>wipe the sweat from your brow.
            apply your favorite raspberry jam to the other burnt crispy slice of disaster bread.
            hopefully the jar isnt too sticky from the other great apes you share a fridge with.
            </p>

            <p>put the halves together.
            remind yourself that some sandwiches do crunch.
            try to enjoy.
            </p>
        </main>
        <footer>
            <h6>published: May 12, 2021.  5:12pm EST</h6>
        </footer>
    </body>
</html>